/TunnelVision/TunnelSurfer5/Xceed.Wpf.AvalonDock.dll
/TunnelVision/TunnelSurfer5/Xceed.Wpf.AvalonDock.Themes.VS2013.dll
/TunnelVision/TunnelSurfer5/WPG.dll
/TunnelVision/TunnelSurfer5/WPG.pdb
/TunnelVision/TunnelSurfer5/WPGBrushEditor.dll
/TunnelVision/TunnelSurfer5/WPGBrushEditor.pdb
/TunnelVision/TunnelSurfer5/Python/*.pyc
/TunnelVision/TunnelSurfer5/Python/*.abf
/TunnelVision/TunnelSurfer5/Python/fourclamp_ASU_May2016/*.bit
*.pyc
/TunnelVision/TunnelSurfer5/Python/fourclamp_ASU_May2016/__pycache__
bin
/visual studio 2015
/TunnelVision/HelpFiles
HelpFiles
/TunnelVision/TunnelSurfer5/Python/fourclamp_ASU_May2016/logfiles
/TunnelVision/TunnelSurfer5/Python/fourclamp_ASU_May2016/ok
/TunnelVision/TunnelSurfer5/Python/fourclamp_ASU_May2016/jsonlab
