<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TunnelVision.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="TunnelSurfer5.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="TravelServer" connectionString="data source=&quot;C:\Users\bri\Dropbox (ASU)\TunnelVision\Database\TunnelVision.sqlite3&quot;" providerName="System.Data.SQLite.EF6" />
    <add name="TunnelSurfer5" providerName="MySql.Data.MySqlClient" connectionString="server=10.212.28.42;port=3307;database=tunnelsurfer4;uid=test;password=12Dnadna" />
    <add name="TunnelSurfer6" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\bri\Dropbox (ASU)\TunnelVision\Database\TravelServer.mdf;Integrated Security=True;Connect Timeout=30" />

  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <!-- <defaultConnectionFactory type="TunnelVision.SQLiteConnectionFactory, TunnelVision" />-->
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
      <provider invariantName="System.Data.SQLite" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <userSettings>
    <TunnelVision.Properties.Settings>
      <setting name="DefaultExperiment" serializeAs="String">
        <value>DNA</value>
      </setting>
      <setting name="DefaultChip" serializeAs="String">
        <value>theChip</value>
      </setting>
      <setting name="DefaultBatch" serializeAs="String">
        <value>NALDB34</value>
      </setting>
      <setting name="DefaultJunction" serializeAs="String">
        <value>M1-M2</value>
      </setting>
      <setting name="DefaultFolder" serializeAs="String">
        <value>PB</value>
      </setting>
      <setting name="DefaultTrace" serializeAs="String">
        <value>f</value>
      </setting>
      <setting name="WatchFolder" serializeAs="String">
        <value>c:\</value>
      </setting>
      <setting name="TraceFolder" serializeAs="String">
        <value>PB</value>
      </setting>
      <setting name="DefaultCatFolder" serializeAs="String">
        <value>f      </value>
      </setting>
      <setting name="BDAQFile" serializeAs="String">
        <value>.\Python\fourclamp_ASU_May2016\BDAQ_server.py</value>
      </setting>
      <setting name="BDAQServer" serializeAs="String">
        <value>127.0.0.1::10000</value>
      </setting>
      <setting name="KeithleyFile" serializeAs="String">
        <value>.\python\sweep.lua</value>
      </setting>
      <setting name="KeithleyAddress" serializeAs="String">
        <value>TCPIP0::129.219.2.84::inst0::INSTR</value>
      </setting>
    </TunnelVision.Properties.Settings>
    <TunnelSurfer5.Properties.Settings>
      <setting name="DefaultExperiment" serializeAs="String">
        <value>DNA</value>
      </setting>
      <setting name="DefaultChip" serializeAs="String">
        <value>theChip</value>
      </setting>
      <setting name="DefaultBatch" serializeAs="String">
        <value>NALDB34</value>
      </setting>
      <setting name="DefaultJunction" serializeAs="String">
        <value>M1-M2</value>
      </setting>
      <setting name="DefaultFolder" serializeAs="String">
        <value>PB</value>
      </setting>
      <setting name="DefaultCatFolder" serializeAs="String">
        <value>
          f
        </value>
      </setting>
      <setting name="DefaultTrace" serializeAs="String">
        <value>f</value>
      </setting>
      <setting name="WatchFolder" serializeAs="String">
        <value>c:\</value>
      </setting>
    </TunnelSurfer5.Properties.Settings>
  </userSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NationalInstruments.Common" publicKeyToken="dc6ad606294fc298" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.1.40.49152" newVersion="15.1.40.49152" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>